{
  "openapi": "3.1.0",
  "info": {
    "title": "Контур Work API",
    "version": "0.11.0",
    "description": "REST API управления проектами, задачами, чатами, конференциями и телефонией. Моменты времени передаются в ISO 8601 UTC, календарные даты — YYYY-MM-DD."
  },
  "servers": [
    {
      "url": "https://projects.company.ru",
      "description": "Текущая установка"
    }
  ],
  "tags": [
    {
      "name": "ИИ",
      "description": "Оценки проектов и изложения встреч по чату или записи"
    },
    {
      "name": "Конференции",
      "description": "Планирование, LiveKit, постоянный чат, вопросы и модерация"
    },
    {
      "name": "Совместные статьи",
      "description": "Совместные статьи"
    },
    {
      "name": "Планирование",
      "description": "Планирование"
    },
    {
      "name": "Дашборды и аналитика",
      "description": "Дашборды и аналитика"
    },
    {
      "name": "Представления",
      "description": "Представления"
    },
    {
      "name": "SLA",
      "description": "SLA"
    },
    {
      "name": "Безопасность",
      "description": "Безопасность"
    },
    {
      "name": "Автоматизации",
      "description": "Автоматизации"
    },
    {
      "name": "Согласования",
      "description": "Согласования"
    },
    {
      "name": "Загрузка команд",
      "description": "Загрузка команд"
    },
    {
      "name": "Портфель",
      "description": "Портфель"
    },
    {
      "name": "Доступы",
      "description": "Доступы"
    },
    {
      "name": "Поручения встреч",
      "description": "Поручения встреч"
    },
    {
      "name": "Записи встреч",
      "description": "Опциональная запись, приватный S3 и кэшируемая расшифровка"
    },
    {
      "name": "Инструменты данных",
      "description": "Инструменты данных"
    },
    {
      "name": "Личные настройки",
      "description": "Личные настройки"
    },
    {
      "name": "Офлайн",
      "description": "Офлайн"
    },
    {
      "name": "Задачи",
      "description": "Задачи, поиск и карточки"
    },
    {
      "name": "Проекты",
      "description": "Проекты и планирование"
    },
    {
      "name": "Чаты",
      "description": "Каналы, сообщения и присутствие"
    },
    {
      "name": "Файлы чата",
      "description": "Безопасная загрузка вложений"
    },
    {
      "name": "База знаний",
      "description": "Команды, пространства и адресные права доступа"
    },
    {
      "name": "Телефония",
      "description": "Исходящие звонки через внешний шлюз"
    }
  ],
  "paths": {
    "/api/work/task-ai": {
      "post": {
        "tags": [
          "ИИ"
        ],
        "summary": "Помощник по качеству задачи",
        "description": "mode: acceptance, duplicates, contradictions. Сохранённая версия обязательна. Только название и описание; дополнительные атрибуты не передаются. Сравниваются до 25 задач из последних 500 изменённых внутри проекта. Проверка точных цитат и повторная проверка версий/прав; результат ничего не меняет.\n\nAPI scope: `ai:write + tasks:read`; функциональное разрешение: `ai.project.analyze + project.browse`.",
        "operationId": "post_api_work_task_ai",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "task_id": 42,
                "version_number": 3,
                "mode": "acceptance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:write + tasks:read",
        "x-kontur-permission": "ai.project.analyze + project.browse"
      }
    },
    "/api/work/ai-usage": {
      "get": {
        "tags": [
          "ИИ"
        ],
        "summary": "Учёт токенов ИИ за месяц",
        "description": "По умолчанию только собственный расход. scope=workspace требует ai.configure. Содержит людей, модели, сценарии, точный usage и число запросов с сохранённым резервом. Настройка лимитов находится в /api/admin/ai.\n\nAPI scope: `ai:read`.",
        "operationId": "get_api_work_ai_usage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "self"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:read"
      }
    },
    "/api/work/conference-captions/{conferenceId}": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Сохранённые субтитры",
        "description": "Последние 200 фрагментов, либо следующие 200 после after (sequence_number). Последовательность назначается при завершении распознавания, поэтому поздние ответы не теряются. Начните с after=0 для всей истории.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_captions_conferenceId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      },
      "patch": {
        "tags": [
          "Конференции"
        ],
        "summary": "Разрешить субтитры встречи",
        "description": "Только организатор или conference.manage; дополнительно сервис включает администратор. Это не включает чужие микрофоны.\n\nAPI scope: `conference:write`.",
        "operationId": "patch_api_work_conference_captions_conferenceId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "enabled": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-captions/{conferenceId}/chunks": {
      "post": {
        "tags": [
          "Конференции"
        ],
        "summary": "Распознать фрагмент своего микрофона",
        "description": "Участник с conference.caption, допущенный во встречу и к публикации аудио. client_id UUID; audio_base64 — полный самостоятельный файл до 1 МБ, 0,15–12 секунд. Текст сохраняется один раз; повтор UUID с другим содержимым — 409. Лимиты пользователя, пространства, частоты и нагрузки проверяются до отправки провайдеру.\n\nAPI scope: `conference:write + ai:write`; функциональное разрешение: `conference.caption`.",
        "operationId": "post_api_work_conference_captions_conferenceId_chunks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "client_id": "37030f88-64f6-4bfa-bd36-04a286773bf0",
                "mime_type": "audio/webm;codecs=opus",
                "audio_base64": "BASE64_ПОЛНОГО_АУДИОФАЙЛА"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write + ai:write",
        "x-kontur-permission": "conference.caption"
      }
    },
    "/api/work/conference-tools/{conferenceId}/polls": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Опросы и собственный голос",
        "description": "Результаты скрыты до закрытия, если results_visible=false. Модератор видит результаты всегда.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_tools_conferenceId_polls",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      },
      "post": {
        "tags": [
          "Конференции"
        ],
        "summary": "Создать опрос",
        "description": "Только модератор; 2–10 различных вариантов.\n\nAPI scope: `conference:write`.",
        "operationId": "post_api_work_conference_tools_conferenceId_polls",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "question": "Какой вариант выбираем?",
                "options": [
                  "Первый",
                  "Второй"
                ],
                "results_visible": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/polls/{pollId}": {
      "patch": {
        "tags": [
          "Конференции"
        ],
        "summary": "Закрыть или открыть опрос",
        "description": "Только модератор; revision защищает от перезаписи.\n\nAPI scope: `conference:write`.",
        "operationId": "patch_api_work_conference_tools_conferenceId_polls_pollId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "pollId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "closed": true,
                "revision": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/polls/{pollId}/vote": {
      "post": {
        "tags": [
          "Конференции"
        ],
        "summary": "Проголосовать",
        "description": "Один голос на пользователя; повтор заменяет вариант. Закрытый опрос — 409.\n\nAPI scope: `conference:write`.",
        "operationId": "post_api_work_conference_tools_conferenceId_polls_pollId_vote",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "pollId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "option_index": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/lobby": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Очередь зала ожидания",
        "description": "Только модератор. Возвращает waiting_room и ожидающих сотрудников.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_tools_conferenceId_lobby",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      },
      "patch": {
        "tags": [
          "Конференции"
        ],
        "summary": "Допустить участника",
        "description": "Только модератор. status: admitted или denied. Повтор обработанного запроса — 409.\n\nAPI scope: `conference:write`.",
        "operationId": "patch_api_work_conference_tools_conferenceId_lobby",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "user_id": 2,
                "status": "admitted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/settings": {
      "patch": {
        "tags": [
          "Конференции"
        ],
        "summary": "Настроить зал ожидания",
        "description": "Только модератор. Влияет на выдачу следующих токенов, не отзывает уже выданные.\n\nAPI scope: `conference:write`.",
        "operationId": "patch_api_work_conference_tools_conferenceId_settings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "waiting_room": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/candidates": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Участники для комнат",
        "description": "Только модератор; активные сотрудники из участников встречи.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_tools_conferenceId_candidates",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      }
    },
    "/api/work/conference-tools/{conferenceId}/breakouts": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Комнаты обсуждений",
        "description": "Сотрудник видит назначенные ему комнаты; модератор — все.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_tools_conferenceId_breakouts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      },
      "post": {
        "tags": [
          "Конференции"
        ],
        "summary": "Создать комнату обсуждения",
        "description": "Только модератор; до 30 открытых комнат, назначаются участники этой встречи. Аудио/видео отдельные, чат и опросы общие.\n\nAPI scope: `conference:write`.",
        "operationId": "post_api_work_conference_tools_conferenceId_breakouts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Обсуждение архитектуры",
                "member_ids": [
                  2,
                  3
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/breakouts/{roomId}": {
      "patch": {
        "tags": [
          "Конференции"
        ],
        "summary": "Закрыть комнату",
        "description": "Только модератор. media_disconnected=false означает, что отключение LiveKit не подтверждено; повторите запрос.\n\nAPI scope: `conference:write`.",
        "operationId": "patch_api_work_conference_tools_conferenceId_breakouts_roomId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "closed": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/breakouts/{roomId}/token": {
      "post": {
        "tags": [
          "Конференции"
        ],
        "summary": "Войти в комнату",
        "description": "Только назначенный участник или модератор, после допуска из зала ожидания. JWT на 5 минут.\n\nAPI scope: `conference:write`.",
        "operationId": "post_api_work_conference_tools_conferenceId_breakouts_roomId_token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write"
      }
    },
    "/api/work/conference-tools/{conferenceId}/attendance": {
      "get": {
        "tags": [
          "Конференции"
        ],
        "summary": "Журнал посещаемости",
        "description": "Только модератор. people и sessions из подписанных webhook LiveKit; пересекающиеся интервалы объединяются. Незавершённые интервалы помечены.\n\nAPI scope: `conference:read`.",
        "operationId": "get_api_work_conference_tools_conferenceId_attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "join_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для авторизованного сотрудника с входом по ссылке",
            "example": "c08af190-c1a6-4e7d-aa2f-5f084495c015"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read"
      }
    },
    "/api/work/knowledge/stale": {
      "get": {
        "tags": [
          "Совместные статьи"
        ],
        "summary": "Статьи с просроченной проверкой",
        "description": "Только доступные пространства, без архивных статей. Черновики видны редакторам.\n\nAPI scope: `knowledge:read`.",
        "operationId": "get_api_work_knowledge_stale",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "knowledge:read"
      }
    },
    "/api/work/knowledge/{articleId}/collaboration": {
      "get": {
        "tags": [
          "Совместные статьи"
        ],
        "summary": "Состояние общего текста",
        "description": "enabled, epoch, update в base64, version_number. Чтение не инициализирует документ.\n\nAPI scope: `knowledge:read`.",
        "operationId": "get_api_work_knowledge_articleId_collaboration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "knowledge:read"
      }
    },
    "/api/work/knowledge/{articleId}/collaboration/initialize": {
      "post": {
        "tags": [
          "Совместные статьи"
        ],
        "summary": "Включить общий текст",
        "description": "Переводит статью из абзацного режима в одновременный текстовый. Повтор возвращает существующее состояние.\n\nAPI scope: `knowledge:write`; функциональное разрешение: `edit пространства`.",
        "operationId": "post_api_work_knowledge_articleId_collaboration_initialize",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "knowledge:write",
        "x-kontur-permission": "edit пространства"
      }
    },
    "/api/work/knowledge/{articleId}/collaboration/sync": {
      "post": {
        "tags": [
          "Совместные статьи"
        ],
        "summary": "Обмен правками и курсорами",
        "description": "Yjs update/vector в base64, epoch и client_id UUID. update необязателен: без него достаточно view, с ним нужен edit. anchor/focus — относительные позиции Yjs. Возвращает недостающий update, vector, людей и версию; смена поколения — 409.\n\nAPI scope: `knowledge:write`.",
        "operationId": "post_api_work_knowledge_articleId_collaboration_sync",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "epoch": "c08af190-c1a6-4e7d-aa2f-5f084495c015",
                "client_id": "5aeaa8f2-d040-46a6-9b77-17a380b933fa",
                "vector": "AA==",
                "anchor": null,
                "focus": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "knowledge:write"
      }
    },
    "/api/work/knowledge/{articleId}/restore": {
      "post": {
        "tags": [
          "Совместные статьи"
        ],
        "summary": "Восстановить версию статьи",
        "description": "Создаёт новую версию с прежним текстом и названием, сохраняет историю, сбрасывает согласование и поколение совместного документа. Текущий version_number обязателен.\n\nAPI scope: `knowledge:write`; функциональное разрешение: `edit пространства`.",
        "operationId": "post_api_work_knowledge_articleId_restore",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "version_number": 5,
                "restore_version": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "knowledge:write",
        "x-kontur-permission": "edit пространства"
      }
    },
    "/api/work/leveling": {
      "get": {
        "tags": [
          "Планирование"
        ],
        "summary": "Предложения перераспределения",
        "description": "До 20 предложений на окно не более 32 дней. Учитывает оценки оставшейся работы, календари, отсутствия и резерв по всем проектам. Детали задач выдаются только там, где вызывающий может редактировать и назначать; получатель должен иметь доступ к проекту. Сам запрос ничего не изменяет.\n\nAPI scope: `reports:read`; функциональное разрешение: `capacity.view; task.edit + task.assign для предложений`.",
        "operationId": "get_api_work_leveling",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2026-09-14"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2026-09-27"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "reports:read",
        "x-kontur-permission": "capacity.view; task.edit + task.assign для предложений"
      }
    },
    "/api/work/analytics/metrics": {
      "post": {
        "tags": [
          "Дашборды и аналитика"
        ],
        "summary": "Рассчитать показатели и формулу",
        "description": "Данные только доступных проектов. from/to включительно влияют на created/completed; previous содержит их значения за предыдущий равный период. Остальные показатели — текущий снимок. Деление на ноль возвращает value:null.\n\nAPI scope: `reports:read`.",
        "operationId": "post_api_work_analytics_metrics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "filter": {
                  "projectId": 1,
                  "from": "2026-09-01",
                  "to": "2026-09-30",
                  "timezone": "Europe/Moscow"
                },
                "expression": "done / total * 100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "reports:read"
      }
    },
    "/api/work/analytics/forecast": {
      "get": {
        "tags": [
          "Дашборды и аналитика"
        ],
        "summary": "Вероятностный прогноз проекта",
        "description": "28–84 полных дней наблюдений и минимум 5 завершений. 2000 выборок семидневных блоков; p50/p85/p95 в днях и dates. Недостаток данных возвращает status:insufficient, выход за 730 дней — null.\n\nAPI scope: `reports:read`; функциональное разрешение: `report.view + project.browse`.",
        "operationId": "get_api_work_analytics_forecast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "reports:read",
        "x-kontur-permission": "report.view + project.browse"
      }
    },
    "/api/work/analytics/groups": {
      "get": {
        "tags": [
          "Дашборды и аналитика"
        ],
        "summary": "Группы для общего дашборда",
        "description": "С dashboard.share — активные группы пространства; иначе только собственные активные группы с наследованием.\n\nAPI scope: `profile:read`.",
        "operationId": "get_api_work_analytics_groups",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "profile:read"
      }
    },
    "/api/work/analytics/subscriptions/{dashboardId}": {
      "get": {
        "tags": [
          "Дашборды и аналитика"
        ],
        "summary": "Собственная почтовая подписка",
        "description": "Нужен доступ к дашборду. Возвращает расписание, revision, последнюю отправку и безопасную ошибку.\n\nAPI scope: `profile:read`.",
        "operationId": "get_api_work_analytics_subscriptions_dashboardId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "profile:read"
      },
      "put": {
        "tags": [
          "Дашборды и аналитика"
        ],
        "summary": "Настроить собственный отчёт",
        "description": "Адрес — из профиля текущего пользователя. revision защищает от перезаписи; 0 для новой подписки. Требуются worker и SMTP.\n\nAPI scope: `profile:write`.",
        "operationId": "put_api_work_analytics_subscriptions_dashboardId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "enabled": true,
                "frequency": "weekly",
                "timezone": "Europe/Moscow",
                "delivery_hour": 9,
                "weekday": 1,
                "revision": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "profile:write"
      }
    },
    "/api/work/views": {
      "get": {
        "tags": [
          "Представления"
        ],
        "summary": "Личная таблица и закреплённые виды",
        "description": "Настройки столбцов, фильтров и закреплённых представлений текущего пользователя; revision для записи.\n\nAPI scope: `profile:read`.",
        "operationId": "get_api_work_views",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "profile:read"
      },
      "put": {
        "tags": [
          "Представления"
        ],
        "summary": "Сохранить представления",
        "description": "Полная замена личных настроек с обязательной revision; конфликт другого устройства — 409. До 30 закреплённых видов.\n\nAPI scope: `profile:write`.",
        "operationId": "put_api_work_views",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "revision": 0,
                "config": {
                  "columns": [
                    "title",
                    "priority",
                    "due_date"
                  ],
                  "filter": {
                    "projectId": 1
                  },
                  "pinned": []
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "profile:write"
      }
    },
    "/api/work/task-changes": {
      "post": {
        "tags": [
          "Представления"
        ],
        "summary": "Изменить задачу с возможностью отмены",
        "description": "Возвращает undo_id, доступный автору 10 минут. Проверяет версии, права, согласования и допустимые значения. Дополнительные атрибуты изменяются через карточку или bulk.\n\nAPI scope: `tasks:write`; функциональное разрешение: `task.edit; task.assign для исполнителя`.",
        "operationId": "post_api_work_task_changes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "task_id": 42,
                "version_number": 3,
                "patch": {
                  "priority": "high"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:write",
        "x-kontur-permission": "task.edit; task.assign для исполнителя"
      }
    },
    "/api/work/undo/{actionId}": {
      "post": {
        "tags": [
          "Представления"
        ],
        "summary": "Отменить изменение задачи",
        "description": "Однократное восстановление изменённых полей с повторной проверкой прав. Если задачу уже изменили, возвращает 409 и не перезаписывает новые данные.\n\nAPI scope: `tasks:write`; функциональное разрешение: `task.edit; task.assign для исполнителя`.",
        "operationId": "post_api_work_undo_actionId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:write",
        "x-kontur-permission": "task.edit; task.assign для исполнителя"
      }
    },
    "/api/work/sla/tasks/{taskId}": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "История расчёта SLA",
        "description": "Таймеры, интервалы, фазы, циклы, рабочие минуты и версии правил. История до миграции помечается приблизительной.\n\nAPI scope: `tasks:read`; функциональное разрешение: `project.browse`.",
        "operationId": "get_api_work_sla_tasks_taskId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:read",
        "x-kontur-permission": "project.browse"
      }
    },
    "/api/work/sla/calendars": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "GET рабочего календаря",
        "description": "Требуется sla.manage. PATCH проверяет revision. DELETE запрещён, если календарь используется правилом.\n\nAPI scope: `Только сессия браузера`; функциональное разрешение: `sla.manage`.",
        "operationId": "get_api_work_sla_calendars",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "Только сессия браузера",
        "x-kontur-permission": "sla.manage"
      },
      "post": {
        "tags": [
          "SLA"
        ],
        "summary": "POST рабочего календаря",
        "description": "Требуется sla.manage. PATCH проверяет revision. DELETE запрещён, если календарь используется правилом.\n\nAPI scope: `Только сессия браузера`; функциональное разрешение: `sla.manage`.",
        "operationId": "post_api_work_sla_calendars",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Рабочая неделя",
                "timezone": "Europe/Moscow",
                "weekly": {
                  "1": [
                    [
                      540,
                      780
                    ],
                    [
                      840,
                      1080
                    ]
                  ],
                  "2": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "3": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "4": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "5": [
                    [
                      540,
                      1080
                    ]
                  ]
                },
                "holidays": [
                  "2026-12-31"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "Только сессия браузера",
        "x-kontur-permission": "sla.manage"
      }
    },
    "/api/work/sla/calendars/{calendarId}": {
      "patch": {
        "tags": [
          "SLA"
        ],
        "summary": "PATCH рабочего календаря",
        "description": "Требуется sla.manage. PATCH проверяет revision. DELETE запрещён, если календарь используется правилом.\n\nAPI scope: `Только сессия браузера`; функциональное разрешение: `sla.manage`.",
        "operationId": "patch_api_work_sla_calendars_calendarId",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Рабочая неделя",
                "timezone": "Europe/Moscow",
                "weekly": {
                  "1": [
                    [
                      540,
                      780
                    ],
                    [
                      840,
                      1080
                    ]
                  ],
                  "2": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "3": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "4": [
                    [
                      540,
                      1080
                    ]
                  ],
                  "5": [
                    [
                      540,
                      1080
                    ]
                  ]
                },
                "holidays": [
                  "2026-12-31"
                ],
                "revision": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "Только сессия браузера",
        "x-kontur-permission": "sla.manage"
      },
      "delete": {
        "tags": [
          "SLA"
        ],
        "summary": "DELETE рабочего календаря",
        "description": "Требуется sla.manage. PATCH проверяет revision. DELETE запрещён, если календарь используется правилом.\n\nAPI scope: `Только сессия браузера`; функциональное разрешение: `sla.manage`.",
        "operationId": "delete_api_work_sla_calendars_calendarId",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
[...]
