{
  "openapi": "3.1.0",
  "info": {
    "title": "Контур Work API",
    "version": "0.10.0",
    "description": "REST API управления проектами, задачами, чатами, конференциями и телефонией. Моменты времени передаются в ISO 8601 UTC, календарные даты — YYYY-MM-DD."
  },
  "servers": [
    {
      "url": "https://projects.company.ru",
      "description": "Текущая установка"
    }
  ],
  "tags": [
    {
      "name": "Автоматизации",
      "description": "Автоматизации"
    },
    {
      "name": "Согласования",
      "description": "Согласования"
    },
    {
      "name": "Загрузка команд",
      "description": "Загрузка команд"
    },
    {
      "name": "Портфель",
      "description": "Портфель"
    },
    {
      "name": "Доступы",
      "description": "Доступы"
    },
    {
      "name": "ИИ",
      "description": "Оценки проектов и изложения встреч по чату или записи"
    },
    {
      "name": "Поручения встреч",
      "description": "Поручения встреч"
    },
    {
      "name": "Записи встреч",
      "description": "Опциональная запись, приватный S3 и кэшируемая расшифровка"
    },
    {
      "name": "Совместные статьи",
      "description": "Совместные статьи"
    },
    {
      "name": "Инструменты данных",
      "description": "Инструменты данных"
    },
    {
      "name": "Личные настройки",
      "description": "Личные настройки"
    },
    {
      "name": "Офлайн",
      "description": "Офлайн"
    },
    {
      "name": "Задачи",
      "description": "Задачи, поиск и карточки"
    },
    {
      "name": "Проекты",
      "description": "Проекты и планирование"
    },
    {
      "name": "Чаты",
      "description": "Каналы, сообщения и присутствие"
    },
    {
      "name": "Файлы чата",
      "description": "Безопасная загрузка вложений"
    },
    {
      "name": "Конференции",
      "description": "Планирование, LiveKit, постоянный чат, вопросы и модерация"
    },
    {
      "name": "База знаний",
      "description": "Команды, пространства и адресные права доступа"
    },
    {
      "name": "Телефония",
      "description": "Исходящие звонки через внешний шлюз"
    }
  ],
  "paths": {
    "/api/work/automations": {
      "get": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Правила автоматизации",
        "description": "Правила рабочего пространства. Выполнение использует актуальные права последнего редактора.\n\nAPI scope: `automation:read`; функциональное разрешение: `automation.manage`.",
        "operationId": "get_api_work_automations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:read",
        "x-kontur-permission": "automation.manage"
      },
      "post": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Создать правило",
        "description": "Условия all/any; операторы equals, not_equals, contains, in, is_empty, within_days, greater_than, less_than. Действия branch, notify_assignee, notify_user, set_field, create_subtask. До 100 блоков и 5 уровней. Интервал 5–525600 минут. Изменение записывает вызывающего пользователя исполнителем правила.\n\nAPI scope: `automation:write`; функциональное разрешение: `automation.manage`.",
        "operationId": "post_api_work_automations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Напомнить о сроке",
                "project_id": 1,
                "enabled": true,
                "trigger_type": "scheduled",
                "trigger_config": {
                  "interval_minutes": 1440
                },
                "conditions": {
                  "mode": "all",
                  "conditions": [
                    {
                      "field": "due_date",
                      "operator": "within_days",
                      "value": 2
                    }
                  ]
                },
                "actions": [
                  {
                    "type": "branch",
                    "condition": {
                      "mode": "all",
                      "conditions": [
                        {
                          "field": "priority",
                          "operator": "equals",
                          "value": "critical"
                        }
                      ]
                    },
                    "then": [
                      {
                        "type": "notify_assignee",
                        "title": "Проверьте критическую задачу"
                      }
                    ],
                    "else": [
                      {
                        "type": "notify_assignee",
                        "title": "Приближается срок задачи"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:write",
        "x-kontur-permission": "automation.manage"
      }
    },
    "/api/work/automations/{ruleId}": {
      "patch": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Изменить правило",
        "description": "Условия all/any; операторы equals, not_equals, contains, in, is_empty, within_days, greater_than, less_than. Действия branch, notify_assignee, notify_user, set_field, create_subtask. До 100 блоков и 5 уровней. Интервал 5–525600 минут. Изменение записывает вызывающего пользователя исполнителем правила.\n\nAPI scope: `automation:write`; функциональное разрешение: `automation.manage`.",
        "operationId": "patch_api_work_automations_ruleId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Напомнить о сроке",
                "project_id": 1,
                "enabled": true,
                "trigger_type": "scheduled",
                "trigger_config": {
                  "interval_minutes": 1440
                },
                "conditions": {
                  "mode": "all",
                  "conditions": [
                    {
                      "field": "due_date",
                      "operator": "within_days",
                      "value": 2
                    }
                  ]
                },
                "actions": [
                  {
                    "type": "branch",
                    "condition": {
                      "mode": "all",
                      "conditions": [
                        {
                          "field": "priority",
                          "operator": "equals",
                          "value": "critical"
                        }
                      ]
                    },
                    "then": [
                      {
                        "type": "notify_assignee",
                        "title": "Проверьте критическую задачу"
                      }
                    ],
                    "else": [
                      {
                        "type": "notify_assignee",
                        "title": "Приближается срок задачи"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:write",
        "x-kontur-permission": "automation.manage"
      },
      "delete": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Удалить правило",
        "description": "Удаляет правило и связанные журналы согласно внешним ключам.\n\nAPI scope: `automation:write`; функциональное разрешение: `automation.manage`.",
        "operationId": "delete_api_work_automations_ruleId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:write",
        "x-kontur-permission": "automation.manage"
      }
    },
    "/api/work/automations/preview": {
      "post": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Пробный запуск без изменений",
        "description": "Возвращает matched, steps и dry_run. Ветвление вычисляется по доступным полям выбранной задачи, действия не выполняются.\n\nAPI scope: `automation:write`; функциональное разрешение: `automation.manage + project.browse`.",
        "operationId": "post_api_work_automations_preview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "rule": {
                  "name": "Напомнить о сроке",
                  "project_id": 1,
                  "enabled": true,
                  "trigger_type": "scheduled",
                  "trigger_config": {
                    "interval_minutes": 1440
                  },
                  "conditions": {
                    "mode": "all",
                    "conditions": [
                      {
                        "field": "due_date",
                        "operator": "within_days",
                        "value": 2
                      }
                    ]
                  },
                  "actions": [
                    {
                      "type": "branch",
                      "condition": {
                        "mode": "all",
                        "conditions": [
                          {
                            "field": "priority",
                            "operator": "equals",
                            "value": "critical"
                          }
                        ]
                      },
                      "then": [
                        {
                          "type": "notify_assignee",
                          "title": "Проверьте критическую задачу"
                        }
                      ],
                      "else": [
                        {
                          "type": "notify_assignee",
                          "title": "Приближается срок задачи"
                        }
                      ]
                    }
                  ]
                },
                "task_id": 42
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:write",
        "x-kontur-permission": "automation.manage + project.browse"
      }
    },
    "/api/work/automations/{ruleId}/runs": {
      "get": {
        "tags": [
          "Автоматизации"
        ],
        "summary": "Журнал выполнения",
        "description": "Последние 100 запусков: состояние, время, шаги и безопасный текст ошибки.\n\nAPI scope: `automation:read`; функциональное разрешение: `automation.manage`.",
        "operationId": "get_api_work_automations_ruleId_runs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "automation:read",
        "x-kontur-permission": "automation.manage"
      }
    },
    "/api/work/approvals": {
      "get": {
        "tags": [
          "Согласования"
        ],
        "summary": "Список согласований",
        "description": "До 500 запросов доступных проектов, включая порядок этапов, заместителей и решения.\n\nAPI scope: `tasks:read`.",
        "operationId": "get_api_work_approvals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:read"
      },
      "post": {
        "tags": [
          "Согласования"
        ],
        "summary": "Отправить на согласование",
        "description": "mode: sequential или parallel; 1–30 согласующих, необязательные заместители и срок. Инициатор не может согласовывать сам. Для задачи сохраняется её точная версия.\n\nAPI scope: `tasks:write`; функциональное разрешение: `approval.request`.",
        "operationId": "post_api_work_approvals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "project_id": 1,
                "task_id": 42,
                "title": "Согласовать запуск",
                "mode": "sequential",
                "due_at": "2026-12-20T15:00:00Z",
                "reason": "Проверка перед выпуском",
                "steps": [
                  {
                    "reviewer_id": 2,
                    "substitute_id": 3
                  },
                  {
                    "reviewer_id": 4
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:write",
        "x-kontur-permission": "approval.request"
      }
    },
    "/api/work/approvals/{approvalId}/decision": {
      "post": {
        "tags": [
          "Согласования"
        ],
        "summary": "Принять решение",
        "description": "Только назначенный согласующий или заместитель и только на доступном этапе. Комментарий обязателен. Отклонение завершает весь запрос.\n\nAPI scope: `tasks:write`; функциональное разрешение: `approval.decide + назначение согласующим`.",
        "operationId": "post_api_work_approvals_approvalId_decision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "step_id": 1,
                "decision": "approved",
                "comment": "Проверено, замечаний нет"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:write",
        "x-kontur-permission": "approval.decide + назначение согласующим"
      }
    },
    "/api/work/approvals/{approvalId}/cancel": {
      "post": {
        "tags": [
          "Согласования"
        ],
        "summary": "Отменить согласование",
        "description": "Инициатор или пользователь с approval.manage может отменить незавершённый запрос.\n\nAPI scope: `tasks:write`.",
        "operationId": "post_api_work_approvals_approvalId_cancel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "tasks:write"
      }
    },
    "/api/work/approval-gates/{projectId}": {
      "get": {
        "tags": [
          "Согласования"
        ],
        "summary": "Ограничения переходов",
        "description": "Этапы, требующие согласования, и обязательные поля.\n\nAPI scope: `projects:read`; функциональное разрешение: `project.browse`.",
        "operationId": "get_api_work_approval_gates_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read",
        "x-kontur-permission": "project.browse"
      },
      "put": {
        "tags": [
          "Согласования"
        ],
        "summary": "Настроить ограничения переходов",
        "description": "Полностью заменяет список. Пустой массив снимает ограничения. Переход требует согласования текущей версии задачи. Поля: title, description, assignee_id, due_date, estimate_minutes, custom.<код>.\n\nAPI scope: `projects:write`; функциональное разрешение: `approval.manage`.",
        "operationId": "put_api_work_approval_gates_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "example": [
                {
                  "stage_id": 3,
                  "required_fields": [
                    "assignee_id",
                    "due_date"
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "approval.manage"
      }
    },
    "/api/work/capacity": {
      "get": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Календарь загрузки",
        "description": "Доступные часы, план и перегрузка по дням. Занятость в закрытых проектах учитывается без раскрытия их названий. Период до 367 дней.\n\nAPI scope: `projects:read`; функциональное разрешение: `capacity.view`.",
        "operationId": "get_api_work_capacity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-09-07"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-09-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read",
        "x-kontur-permission": "capacity.view"
      }
    },
    "/api/work/capacity/calendar": {
      "put": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Рабочая неделя сотрудника",
        "description": "Семь значений часов от воскресенья до субботы, каждое 0–24. Часовой пояс IANA.\n\nAPI scope: `projects:write`; функциональное разрешение: `capacity.manage`.",
        "operationId": "put_api_work_capacity_calendar",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "user_id": 2,
                "hours": [
                  0,
                  8,
                  8,
                  8,
                  8,
                  8,
                  0
                ],
                "timezone": "Europe/Moscow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "capacity.manage"
      }
    },
    "/api/work/capacity/absence": {
      "post": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Отсутствие или общий выходной",
        "description": "user_id=null создаёт общий выходной; unavailable_percent уменьшает доступность на 1–100%. Пересекающиеся отсутствия учитываются по максимальному проценту.\n\nAPI scope: `projects:write`; функциональное разрешение: `capacity.manage`.",
        "operationId": "post_api_work_capacity_absence",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "user_id": 2,
                "start_date": "2026-09-21",
                "end_date": "2026-09-25",
                "unavailable_percent": 100,
                "label": "Отпуск"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "capacity.manage"
      }
    },
    "/api/work/capacity/allocation": {
      "post": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Плановая занятость в проекте",
        "description": "Часы на рабочий день с учётом обычной недели. Отпуск уменьшает доступность, но не снимает запланированную нагрузку.\n\nAPI scope: `projects:write`; функциональное разрешение: `capacity.manage + project.edit`.",
        "operationId": "post_api_work_capacity_allocation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "user_id": 2,
                "project_id": 1,
                "start_date": "2026-09-07",
                "end_date": "2026-09-30",
                "hours_per_day": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "capacity.manage + project.edit"
      }
    },
    "/api/work/capacity/absence/{entryId}": {
      "delete": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Удалить отсутствие",
        "description": "Удаляет выбранную запись в текущем рабочем пространстве.\n\nAPI scope: `projects:write`; функциональное разрешение: `capacity.manage`.",
        "operationId": "delete_api_work_capacity_absence_entryId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "capacity.manage"
      }
    },
    "/api/work/capacity/allocation/{entryId}": {
      "delete": {
        "tags": [
          "Загрузка команд"
        ],
        "summary": "Удалить занятость",
        "description": "Удаляет выбранную запись в текущем рабочем пространстве.\n\nAPI scope: `projects:write`; функциональное разрешение: `capacity.manage`.",
        "operationId": "delete_api_work_capacity_allocation_entryId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "capacity.manage"
      }
    },
    "/api/work/portfolio": {
      "get": {
        "tags": [
          "Портфель"
        ],
        "summary": "Портфель и базовые планы",
        "description": "Доступные проекты, задачи, блокирующие связи, расчёт критического пути и последние 20 базовых планов.\n\nAPI scope: `projects:read`; функциональное разрешение: `report.view в проектах`.",
        "operationId": "get_api_work_portfolio",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read",
        "x-kontur-permission": "report.view в проектах"
      }
    },
    "/api/work/portfolio/scenario": {
      "post": {
        "tags": [
          "Портфель"
        ],
        "summary": "Сценарий сдвига сроков",
        "description": "shifts задаёт сдвиг каждого проекта в календарных днях, от −365 до 365. Расчёт не меняет задачи. Используются блокирующие зависимости finish-to-start.\n\nAPI scope: `projects:write`; функциональное разрешение: `report.view в проектах`.",
        "operationId": "post_api_work_portfolio_scenario",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "shifts": {
                  "1": 7,
                  "2": 0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "report.view в проектах"
      }
    },
    "/api/work/portfolio/baseline": {
      "post": {
        "tags": [
          "Портфель"
        ],
        "summary": "Сохранить базовый план",
        "description": "Фиксирует текущие сроки видимых задач для последующего сравнения.\n\nAPI scope: `projects:write`; функциональное разрешение: `portfolio.manage + report.view`.",
        "operationId": "post_api_work_portfolio_baseline",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "План до изменения объёма"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "portfolio.manage + report.view"
      }
    },
    "/api/work/portfolio/dependencies": {
      "post": {
        "tags": [
          "Портфель"
        ],
        "summary": "Создать межпроектную зависимость",
        "description": "task_id зависит от depends_on_task_id. Оба проекта должны быть доступны. Проверяются версия задачи и отсутствие циклов. Изменение попадает в историю.\n\nAPI scope: `projects:write + tasks:write`; функциональное разрешение: `task.edit в целевом проекте`.",
        "operationId": "post_api_work_portfolio_dependencies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "task_id": 42,
                "depends_on_task_id": 17,
                "version_number": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write + tasks:write",
        "x-kontur-permission": "task.edit в целевом проекте"
      },
      "delete": {
        "tags": [
          "Портфель"
        ],
        "summary": "Удалить зависимость",
        "description": "task_id зависит от depends_on_task_id. Оба проекта должны быть доступны. Проверяются версия задачи и отсутствие циклов. Изменение попадает в историю.\n\nAPI scope: `projects:write + tasks:write`; функциональное разрешение: `task.edit в целевом проекте`.",
        "operationId": "delete_api_work_portfolio_dependencies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "task_id": 42,
                "depends_on_task_id": 17,
                "version_number": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write + tasks:write",
        "x-kontur-permission": "task.edit в целевом проекте"
      }
    },
    "/api/work/field-access/{projectId}": {
      "get": {
        "tags": [
          "Доступы"
        ],
        "summary": "Права на пользовательские поля",
        "description": "Вычисленные can_read/can_edit. Менеджеру доступа также доступны списки читателей и редакторов.\n\nAPI scope: `projects:read`.",
        "operationId": "get_api_work_field_access_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read"
      },
      "put": {
        "tags": [
          "Доступы"
        ],
        "summary": "Настроить доступ к полям",
        "description": "Полная замена ограничений. Пользователи задаются user:<id>, группы — group:<id>, учитывается вложенность. Пустые списки закрывают поле для обычных участников. Администраторы и менеджеры доступа сохраняют доступ.\n\nAPI scope: `projects:write`; функциональное разрешение: `project.access.manage`.",
        "operationId": "put_api_work_field_access_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "example": [
                {
                  "field_code": "budget",
                  "readers": [
                    "group:3"
                  ],
                  "editors": [
                    "user:2"
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "project.access.manage"
      }
    },
    "/api/work/access-directory/{projectId}": {
      "get": {
        "tags": [
          "Доступы"
        ],
        "summary": "Пользователи и группы для назначения",
        "description": "Минимальный справочник имён и идентификаторов без секретов и профилей.\n\nAPI scope: `projects:read`; функциональное разрешение: `project.access.manage`.",
        "operationId": "get_api_work_access_directory_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read",
        "x-kontur-permission": "project.access.manage"
      }
    },
    "/api/work/access-explain/{projectId}": {
      "get": {
        "tags": [
          "Доступы"
        ],
        "summary": "Почему доступ разрешён",
        "description": "Прямые назначения, группы, функциональные роли, временные разрешения и итоговые права. По умолчанию собственные права.\n\nAPI scope: `projects:read`.",
        "operationId": "get_api_work_access_explain_projectId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Для другого пользователя требуется project.access.manage",
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read"
      }
    },
    "/api/work/access-requests": {
      "get": {
        "tags": [
          "Доступы"
        ],
        "summary": "Запросы временного доступа",
        "description": "Собственные запросы и запросы проектов, которыми пользователь вправе управлять.\n\nAPI scope: `projects:read`.",
        "operationId": "get_api_work_access_requests",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:read"
      },
      "post": {
        "tags": [
          "Доступы"
        ],
        "summary": "Запросить временный доступ",
        "description": "Укажите project_key или project_id. Роль viewer/member, срок не более 90 дней. Запрос не выдаёт права до одобрения.\n\nAPI scope: `projects:write`.",
        "operationId": "post_api_work_access_requests",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "project_key": "NOVA",
                "project_role": "viewer",
                "reason": "Нужно проверить план интеграции",
                "expires_at": "2026-10-01T18:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write"
      }
    },
    "/api/work/access-requests/{requestId}": {
      "patch": {
        "tags": [
          "Доступы"
        ],
        "summary": "Решить или отозвать запрос",
        "description": "status: approved, rejected, revoked. Нельзя одобрять себе или выдавать отсутствующие права. Явные запреты ролей сохраняют приоритет.\n\nAPI scope: `projects:write`; функциональное разрешение: `project.access.manage`.",
        "operationId": "patch_api_work_access_requests_requestId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "status": "approved",
                "reason": "Доступ нужен на время проверки"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "projects:write",
        "x-kontur-permission": "project.access.manage"
      }
    },
    "/api/work/ai-search": {
      "post": {
        "tags": [
          "ИИ"
        ],
        "summary": "Вопрос по доступным материалам",
        "description": "ИИ помогает найти ключевые слова и формирует ответ со ссылками на доступные задачи, статьи и расшифровки. Права проверяются перед поиском и после генерации. Ответы не кэшируются; учитываются квоты ИИ.\n\nAPI scope: `ai:write + tasks:read + knowledge:read + conference:read`; функциональное разрешение: `ai.search`.",
        "operationId": "post_api_work_ai_search",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "question": "Какие решения приняты по запуску NOVA?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:write + tasks:read + knowledge:read + conference:read",
        "x-kontur-permission": "ai.search"
      }
    },
    "/api/work/meetings": {
      "get": {
        "tags": [
          "Поручения встреч"
        ],
        "summary": "Встречи с доступными записями",
        "description": "Список для работы с записями и поручениями. Исключает удалённые и просроченные записи.\n\nAPI scope: `conference:read`; функциональное разрешение: `conference.recording.view`.",
        "operationId": "get_api_work_meetings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read",
        "x-kontur-permission": "conference.recording.view"
      }
    },
    "/api/work/meeting-actions/{conferenceId}": {
      "get": {
        "tags": [
          "Поручения встреч"
        ],
        "summary": "Черновики поручений и задания ИИ",
        "description": "Предложения, проверенные поручения и состояние фоновой генерации.\n\nAPI scope: `ai:read`; функциональное разрешение: `conference.recording.view`.",
        "operationId": "get_api_work_meeting_actions_conferenceId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:read",
        "x-kontur-permission": "conference.recording.view"
      }
    },
    "/api/work/meeting-actions/{conferenceId}/generate": {
      "post": {
        "tags": [
          "Поручения встреч"
        ],
        "summary": "Выделить поручения из записи",
        "description": "202: запускает фоновую обработку завершённой расшифровки. Предложения содержат точную цитату и начало фрагмента. Задачи автоматически не создаются.\n\nAPI scope: `ai:write`; функциональное разрешение: `ai.conference.summarize + conference.recording.view`.",
        "operationId": "post_api_work_meeting_actions_conferenceId_generate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "recording_id": 12
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:write",
        "x-kontur-permission": "ai.conference.summarize + conference.recording.view"
      }
    },
    "/api/work/meeting-actions/{conferenceId}/{actionId}": {
      "patch": {
        "tags": [
          "Поручения встреч"
        ],
        "summary": "Проверить поручение",
        "description": "status: accepted создаёт задачу один раз, dismissed отклоняет предложение. Перед принятием можно изменить название, описание, исполнителя и срок.\n\nAPI scope: `ai:write + tasks:write`; функциональное разрешение: `ai.conference.summarize + task.create; task.assign при назначении`.",
        "operationId": "patch_api_work_meeting_actions_conferenceId_actionId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "status": "accepted",
                "title": "Подготовить план запуска",
                "assignee_id": 2,
                "due_date": "2026-09-30"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:write + tasks:write",
        "x-kontur-permission": "ai.conference.summarize + task.create; task.assign при назначении"
      }
    },
    "/api/work/meeting-actions/{conferenceId}/publish": {
      "post": {
        "tags": [
          "Поручения встреч"
        ],
        "summary": "Черновик протокола в базе знаний",
        "description": "Создаёт статью-черновик с принятыми поручениями в выбранном пространстве. Повторный вызов создаёт отдельную статью.\n\nAPI scope: `ai:write + knowledge:write`; функциональное разрешение: `ai.conference.summarize + edit пространства`.",
        "operationId": "post_api_work_meeting_actions_conferenceId_publish",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "space_id": 1,
                "title": "Поручения по итогам встречи"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "ai:write + knowledge:write",
        "x-kontur-permission": "ai.conference.summarize + edit пространства"
      }
    },
    "/api/work/recordings/{conferenceId}/{recordingId}": {
      "get": {
        "tags": [
          "Записи встреч"
        ],
        "summary": "Главы, текст и история исправлений",
        "description": "Фрагменты с etag для защиты от перезаписи и последние 100 записей журнала.\n\nAPI scope: `conference:read`; функциональное разрешение: `conference.recording.view`.",
        "operationId": "get_api_work_recordings_conferenceId_recordingId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:read",
        "x-kontur-permission": "conference.recording.view"
      }
    },
    "/api/work/recordings/{conferenceId}/{recordingId}/chapters": {
      "put": {
        "tags": [
          "Записи встреч"
        ],
        "summary": "Сохранить главы",
        "description": "Полная замена, до 500 глав; время начала должно быть внутри записи.\n\nAPI scope: `conference:write`; функциональное разрешение: `conference.recording.view + conference.manage`.",
        "operationId": "put_api_work_recordings_conferenceId_recordingId_chapters",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "example": [
                {
                  "start_seconds": 0,
                  "title": "Вступление"
                },
                {
                  "start_seconds": 120,
                  "title": "План запуска"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "201": {
            "description": "Объект создан",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "202": {
            "description": "Фоновая обработка принята"
          },
          "206": {
            "description": "Часть видеофайла по HTTP Range"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Объект не найден или недоступен"
          },
          "409": {
            "description": "Конфликт состояния или повтор client_id с другим содержимым"
          },
          "416": {
            "description": "Некорректный диапазон файла"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Превышен лимит запросов или фоновых задач"
          },
          "503": {
            "description": "Компонент инфраструктуры недоступен"
          }
        },
        "x-kontur-scope": "conference:write",
        "x-kontur-permission": "conference.recording.view + conference.manage"
      }
    },
    "/api/work/recordings/{conferenceId}/{recordingId}/transcript": {
      "patch": {
        "tags": [
          "Записи встреч"
        ],
        "summary": "Исправить расшифровку",
        "description": "etag берётся из GET. Сохраняет автора, старый и новый текст. Меняет ревизию источника для последующих запросов ИИ. Старые сводки автоматически не переписываются.\n\nAPI scope: `conference:write`; функциональное разрешение: `conference.recording.view + conference.manage`.",
        "operationId": "patch_api_work_recordings_conferenceId_recordingId_transcript",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "chunk_index": 0,
[...]
